{% extends "base.html" %}
{% block title %}Stock{% endblock %}

{% block content %}

    <div class="container-fluid">
      <h1> Load all data </h1>
      <p><button type="button" class="btn btn-primary" id="load">Load</button></p>
      <p id="result"></p>
      <h1> Load 1 symbol daily</h1>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <button class="btn btn-outline-secondary" type="button" id="load1">Add</button>
        </div>
        <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1" id="symbol">
      </div>
      <p id="result2"></p>
      <h1> Load 1 symbol intraday 1 min</h1>
      <div class="input-group mb-3">
        <div class="input-group-prepend">
          <button class="btn btn-outline-secondary" type="button" id="load2">Add</button>
        </div>
        <input type="text" class="form-control" placeholder="" aria-label="" aria-describedby="basic-addon1" id="symbol2">
      </div>
      <p id="result3"></p>
    </div>


{% endblock %}

{% block javascript %}
<script>
  $('#load').on('click', function(event) {
    event.preventDefault(); // To prevent following the link (optional)
    $('#result').text("");

    $.ajax({
          url: "load_data/",
          dataType: 'json',
          data: {
              'symbol': 'XXXX8888' // search term
          },
          success: function (data) {
            $('#result').text(data.status);
          }
    });

  });

  $('#load1').on('click', function(event) {
        event.preventDefault(); // To prevent following the link (optional)
        $('#result2').text("");
        if($('#symbol').val() !=""){
          $.ajax({
                url: "load_data/",
                dataType: 'json',
                data: {
                    'symbol': $('#symbol').val() // search term
                },
                success: function (data) {
                  $('#result2').text(data.status);
                }
          });

        }else{
          alert("input a symbol")
        }
    });

    $('#load2').on('click', function(event) {
      event.preventDefault(); // To prevent following the link (optional)
      $('#result3').text("");
      if($('#symbol2').val() !=""){
        $.ajax({
              url: "load_data2/",
              dataType: 'json',
              data: {
                  'symbol': $('#symbol2').val() // search term
              },
              success: function (data) {
                $('#result3').text(data.status);
              }
        });

      }else{
        alert("input a symbol")
      }
    });


</script>

{% endblock %}
