{% extends "base.html" %}
{% block title %}Stock{% endblock %}

{% block content %}

    <div class="container-fluid">
        <div class="row">
            <div class="col-lg-6">
                <div class="card border-9">
                    <h5 class="card-header" style="background-color:#DCDCDC;">
                        <ul class="nav nav-pills card-header-pills">
                          <li class="nav-item">
                            <a class="nav-link active" href="#">Watchlists</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">Alerts</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">{{date}}</a>
                          </li>
                        </ul>
                    </h5>
                    <div class="card-body">
                      <div class="container">
                        <div class="row">
                          <div class="col-sm-6">

                            <div class="input-group mb-3">
                                <select class="js-data-symbol-ajax" style="width:100%">
                                </select>

                                <div class="input-group-append">
                                    <button class="btn btn-outline-secondary" type="button" id="button-addon2">Add</button>
                                </div>
                            </div>


                          </div>
                        </div>
                      </div>
                      <hr>
                      <div class="container scrollV">
                        <table id="info_symbol">
                            <tr>
                                <th>Symbol</th>
                                <th>Name</th>
                                <th>Sector</th>
                                <th>Industry</th>
                                <th>Exchange</th>
                                <th>Ipo year</th>
                            </tr>

                        </table>
                      </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="card border-9">
                    <h5 class="card-header" style="background-color:#DCDCDC;">
                        <ul class="nav nav-pills card-header-pills">
                          <li class="nav-item">
                            <a class="nav-link active" href="#">Watchlists</a>
                          </li>
                          <li class="nav-item">
                            <a class="nav-link" href="#">Alerts</a>
                          </li>
                        </ul>
                    </h5>
                    <div class="card-body">
                        <div class="container scrollV">
                          <table id="data_symb">
                              <thead>
                                  <tr>
                                      <th>date</th>
                                      <th>open</th>
                                      <th>high</th>
                                      <th>low</th>
                                      <th>close</th>
                                      <th>volume</th>
                                  </tr>
                              </thead>
                                <tbody>
                                </tbody>
                          </table>
                        </div>
                        <hr>
                        <div class="container scrollV">

                            <div id="main" style="width: 600px;height:400px;"></div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>


{% endblock %}

{% block javascript %}
  <script>
    $(document).ready(function(){
        $(".js-data-symbol-ajax").select2({
            theme: "classic",
          ajax: {
            url: "search_s/",
            dataType: 'json',
            delay: 250,
            data: function (params) {
              return {
                'symbol': params.term // search term
              };
            },
            processResults: function (data, params) {
                var data1 = $.map(data.data, function(obj, idx) {
                  obj.id = obj['1. symbol'] || idx;
                  return obj;
                });
              return {
                results: data1,
              };
            },
            cache: true
          },
          placeholder: 'Search for a symbol',
          escapeMarkup: function (markup) { return markup; }, // let our custom formatter work
          minimumInputLength: 1,
          templateResult: formatRepo,
          templateSelection: formatRepoSelection
        });

        function formatRepo (repo) {
          if (repo.loading) {
            return repo.text;
          }

          var markup = "<div class='select2-result-repository clearfix'>" +
              "<div class='select2-result-repository__title'>" + repo['1. symbol'] + "</div>";

          if (repo['2. name']) {
            markup += "<div class='select2-result-repository__description'>" + repo['2. name'] + "</div>";
          }

          markup += "<div class='select2-result-repository__statistics'>" +
            "<div class='select2-result-repository__forks'>Sector:  " + repo['sector'] + " </div>" +
            "<div class='select2-result-repository__stargazers'>Industry: " + repo['industry'] + " </div>" +
            "<div class='select2-result-repository__forks'>Exchange:  " + repo['exchange'] + " </div>" +
            "<div class='select2-result-repository__stargazers'>IPO year: " + repo['ipo'] + " </div>" +
          "</div>" +
          "</div>";

          return markup;
        }

        function formatRepoSelection (repo) {
          return repo['1. symbol'] || repo.text;
        }

        $('.js-data-symbol-ajax').on('select2:select', function (e) {
            var data = e.params.data;
            var xA=[];
            var yA=[];
            $('#info_symbol').append('<tr></tr>');
            var appendRow = $('#info_symbol tr:last');
            appendRow.append('<td>' + data['1. symbol'] + '</td>');
            appendRow.append('<td>' + data['2. name'] + '</td>');
            appendRow.append('<td>' + data['sector'] + '</td>');
            appendRow.append('<td>' + data['industry'] + '</td>');
            appendRow.append('<td>' + data['exchange'] + '</td>');
            appendRow.append('<td>' + data['ipo'] + '</td>');
            $("#data_symb tbody tr").remove();
            $.ajax({
                  url: "return_s_data/",
                  dataType: 'json',
                  data: {
                      'symbol': data['1. symbol'] // search term
                  },
                  success: function (data) {
                      $.each(data, function(index, element) {
                            $('#data_symb > tbody').append('<tr></tr>');
                            var appendRow = $('#data_symb tr:last');
                            appendRow.append('<td>' + index + '</td>');
                            xA.unshift(index);
                            yA.unshift(element['1. open']);
                            $.each(element, function(index2, element2) {
                                appendRow.append('<td>' + element2 + '</td>');
                            });
                      });
                      // based on prepared DOM, initialize echarts instance
                      var myChart = echarts.init(document.getElementById('main'));

                      // specify chart configuration item and data
                      option = {
                          tooltip: {
                              trigger: 'axis',
                              axisPointer: {
                                  animation: false
                              }
                          },
                          axisPointer: {
                              link: {xAxisIndex: 'all'}
                          },
                          dataZoom: [
                              {
                                  id: 'dataZoomX',
                                 type: 'slider',
                                 filterMode: 'filter',
                                 start: 20,
                                 end: 80
                              }
                          ],
                          xAxis: {
                              type: 'category',
                              data: xA
                          },
                          yAxis: {
                              type: 'value',
                              min: 'dataMin'
                          },
                          series: [{
                              data: yA,
                              type: 'line'
                          }]
                      };

                      // use configuration item and data specified to show chart
                      myChart.setOption(option)

                  }
            });

        });




    });
  </script>
{% endblock %}
